body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

/*navbar css */
nav {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #21212c;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1544px;
    margin: auto;
    padding: 1rem;
    box-sizing: border-box;
}

#logo {
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.links a {
    color: #FFF;
    text-decoration: none;
    padding: 1rem;
    transition: all 0.5s;
}

.links a:hover {
    background-color: #316eb3;
    text-decoration: underline;
}




/*body css*/

.myprofile-container {
    display: flex;
    padding: 30px;
    gap: 20px;
}

.description-container {
    height: 400px;
    width: 65%;
}

.profile-img-container {
    border-radius: 50%;
    height: 400px;
    width: 35%;
}


/*Description CSS*/
.p1-description-container {
    font-size: 54px;
}

.p2-description-container {
    font-size: 40px;
}

.name-description-container {
    font-size: 60px;
    color: maroon;
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
}


/*projects CSS*/
.projects,
.skills {
    margin-top: 100px;
    padding: 20px;
}

.projects-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.project-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
}


/* skills css */
.skills-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.skill {
    background: white;
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.skill:hover {
    transform: scale(1.05);
}

a {
    text-decoration: none;
    color: black;
}

/* contact css */
.footer {
    margin-top: 400px;
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer-container {
    max-width: 600px;
    margin: auto;
}

.social-links a {
    color: #4CAF50;
    margin: 0 10px;
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}

@media screen and (max-width:800px) {
    .projects-container {
        flex-direction: column;
    }
    
    .myprofile-container{
        flex-direction: column;
        gap: 300px;
    }

    .skills-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}